*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;

    @include respond(900) {
        font-size: 50%;
    }

    @include respond(600) {
        font-size: 37.5%;
    }
}

body {
    padding: calc(1 * #{$size-gap-section}); // Это существует padding секций, соответсвовал зазору между ними.

    @include respond(900) {
        padding: calc(2/3 * #{$size-gap-section}); // Это существует padding секций, соответсвовал зазору между ними.
    }

    @include respond(600) {
        padding: 0; // После 600 paddinga по бокам нету.
    }
}